<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Upload</title>
</head>
<body>
  <h2>Uploaded Image</h2>
  <% if (imageUrl) { %>
    <img src="https://drive.google.com/uc?export=view&id=1M9uFpsghpKxF1En5T6TchPvWEkeo5Tkl" alt="Uploaded Image">
  <% } else { %>
    <p>No image uploaded yet</p>
  <% } %>
</body>
</html>
