<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description"
    content="At Fancy Store Electric, we are passionate about providing our customers with top-quality electrical products and exceptional service. With years of experience in the industry, we have established ourselves as a trusted name in the market.">

    <meta property="og:title" content="Fancy Store Electric">
    <meta property="og:description" content="At Fancy Store Electric, we are passionate about providing our customers with top-quality electrical products and exceptional service. With years of experience in the industry, we have established ourselves as a trusted name in the market.">
    <meta property="og:image" content="https://res.cloudinary.com/db31b5psx/image/upload/v1710927860/ex56rmi3cwrbszposg9v.jpg">
    <meta property="og:url" content="https://fancy-store.vercel.app">

	<!-- title -->
	<title>404!</title>

  <!-- All CSS  -->
  <%- include('lib_css') %>

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
		<!-- error section -->
		<div class="full-height-section error-section">
			<div class="full-height-tablecell">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="error-text">
								<i class="far fa-sad-cry"></i>
								<h1>Oops! Not Found.</h1>
								<p>The page you requested for is not found.</p>
								<a href="/" class="boxed-btn">Back to Home</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end error section -->
	
	<!-- All Scripts  -->
  <%- include('lib_js') %>
	
	</body>
</html>