<!-- header -->
<div class="top-header-area" id="sticker">
  <div class="container-lg ">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->
          <div class="site-logo">
            <a href="/">
              <img src="../assets/img/logo.png" alt="logo">
            </a>
          </div>
          <!-- logo -->

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li class="current-list-item"><a href="/">Home</a>
              </li>
              <li><a href="/products">Products</a>
              </li>
              <li><a href="/about">About</a></li>
              <li><a href="https://wa.me/+917044012863">Contact</a></li>
              <li>
                <div class="header-icons">
                  <a class="mobile-hide search-bar-icon"><i class="fas fa-search"></i></a>
                </div>
              </li>
            </ul>
          </nav>
          <a class="mobile-show search-bar-icon"><i class="fas fa-search"></i></a>
          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="close-btn" style="font-size: 25px;"><i class="fas fa-window-close"></i></span>
        <div class="search-bar">
          <div class="search-bar-tablecell">
            <h3>Search For:</h3>
            <form action="/search" method="post">
              <input type="text" name="query" placeholder="Keywords">
              <button type="submit">Search <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end search area -->

<script>

  let searchForm = document.querySelector('form');
  searchForm[1].setAttribute('type', 'button');
  searchForm[0].addEventListener('input', function () {
    if(this.value.length >= 1) {
      searchForm[1].setAttribute('type', 'submit')
    } else {
      searchForm[1].setAttribute('type', 'button')
    }
  })

</script>